<?xml version="1.0" encoding="UTF-8"?>
<?define PTF_SRC_ROOT=..\..\?>
<?define SRCDIR=$(var.PTF_SRC_ROOT)..\drop\ProtocolTestFramework\Bin?>
<?define SRCDIR_VS10=$(var.SRCDIR)\vs10?>

<?if $(var.Platform) = "x86"?>
<?define BUILDTARGET=i386?>
<?else?>
<?define BUILDTARGET=amd64?>
<?endif?>

<?ifdef Debug?>
<?define BUILDTYPE=debug?>
<?else?>
<?define BUILDTYPE=release?>
<?endif?>

<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi"
      xmlns:util="http://schemas.microsoft.com/wix/UtilExtension">
  <Fragment Id="PTF">

    <!-- WixVSExtension properties for visual studio directories -->
    <PropertyRef Id="VS2012_ROOT_FOLDER" />
	<PropertyRef Id="VS2013_ROOT_FOLDER" />
	<PropertyRef Id="VS2015_ROOT_FOLDER" />
    <PropertyRef Id="VS2012_SCHEMAS_DIR" />
	<PropertyRef Id="VS2013_SCHEMAS_DIR" />
	<PropertyRef Id="VS2015_SCHEMAS_DIR" />
  
    <!-- Program Menu -->
    <DirectoryRef Id="ProgramMenuFolder">
      <Directory Id="PTF_ProgramsMenuFolder" Name="Protocol Test Framework" />
    </DirectoryRef>

    <DirectoryRef Id="TARGETDIR">
      <!-- visual studio schemas -->
      <Directory Id="VS2012_SCHEMAS_DIR" />
	  <Directory Id="VS2013_SCHEMAS_DIR" />
	  <Directory Id="VS2015_SCHEMAS_DIR" />
    </DirectoryRef>

    <!-- If Visual Studio is not installed, then do not install HtmlLogger. -->
    <DirectoryRef Id ="VS2012_HtmlTestLogger_InstallLocation">
      <Component Id="VS2012_HtmlTestLogger.dll" Guid="817DF6E7-6169-4A10-AF67-A064CDBB38E5" Feature="PTF_All">
        <Condition>VS2012_ROOT_FOLDER</Condition>
        <File Id="VS2012_HtmlTestLogger.dll"
              Source="$(var.SRCDIR)\HtmlTestLogger\Microsoft.Protocols.TestTools.HtmlTestLogger.dll" />
      </Component>
      <Component Id="VS2012_HtmlTestLogger.pdb" Guid="D2869602-1C51-48D5-A81C-91B0332F00C7" Feature="PTF_All">
        <Condition>VS2012_ROOT_FOLDER</Condition>
        <File Id="VS2012_HtmlTestLogger.pdb"
              Source="$(var.SRCDIR)\HtmlTestLogger\Microsoft.Protocols.TestTools.HtmlTestLogger.pdb" />
      </Component>
    </DirectoryRef>

    <DirectoryRef Id ="VS2013_HtmlTestLogger_InstallLocation">
      <Component Id="VS2013_HtmlTestLogger.dll" Guid="710273DA-D320-4D95-A7E2-849EDD9A9C4C" Feature="PTF_All">
        <Condition>VS2013_ROOT_FOLDER</Condition>
        <File Id="VS2013_HtmlTestLogger.dll"
              Source="$(var.SRCDIR)\HtmlTestLogger\Microsoft.Protocols.TestTools.HtmlTestLogger.dll" />
      </Component>
      <Component Id="VS2013_HtmlTestLogger.pdb" Guid="A2A350D9-F1CA-4033-9801-31E2A0120364" Feature="PTF_All">
        <Condition>VS2013_ROOT_FOLDER</Condition>
        <File Id="VS2013_HtmlTestLogger.pdb"
              Source="$(var.SRCDIR)\HtmlTestLogger\Microsoft.Protocols.TestTools.HtmlTestLogger.pdb" />
      </Component>
    </DirectoryRef>
	
    <DirectoryRef Id ="VS2015_HtmlTestLogger_InstallLocation">
      <Component Id="VS2015_HtmlTestLogger.dll" Guid="734F03A8-FA4D-4539-A7DB-31058B572804" Feature="PTF_All">
        <Condition>VS2015_ROOT_FOLDER</Condition>
        <File Id="VS2015_HtmlTestLogger.dll"
              Source="$(var.SRCDIR)\HtmlTestLogger\Microsoft.Protocols.TestTools.HtmlTestLogger.dll" />
      </Component>
      <Component Id="VS2015_HtmlTestLogger.pdb" Guid="89018774-A370-4BFC-8B8E-A16218112CA8" Feature="PTF_All">
        <Condition>VS2015_ROOT_FOLDER</Condition>
        <File Id="VS2015_HtmlTestLogger.pdb"
              Source="$(var.SRCDIR)\HtmlTestLogger\Microsoft.Protocols.TestTools.HtmlTestLogger.pdb" />
      </Component>
    </DirectoryRef>	
    
    <!-- PTF Bin -->
    <DirectoryRef Id="Bin_DIR">

      <!-- Registry infromation -->
      <Component Id="PTF_REG" Guid="1775CE86-4A52-42FC-AEC6-EEE8D38E6EC5" Feature="PTF_All">
        <RegistryKey Id="PTF_REG_INSTALLDIR"
                     ForceCreateOnInstall="yes"
                     Root="HKLM"
                     Key="SOFTWARE\Microsoft\ProtocolTestFramework">
          <RegistryValue Value="[Bin_DIR]" Type="string" Name="InstallDir"/>
          <RegistryValue Value="$(env.PTF_VERSION)" Type="string" Name="PTFVersion"/>
        </RegistryKey>


        <Environment Id="PTF_ENV_PATH"
                     Name="PATH"
                     Action="set"
                     System="yes"
                     Part="last"
                     Value="[Bin_DIR]" />
      </Component>
    
      <!-- Registry information for VS2010 reference (.Net 4.0) -->
      <Component Id="PTF_REG_DOTNET_FX4" Guid="314F4564-5F1D-4298-80C5-D936D6FA4A61" Feature="PTF_All">
        <RegistryKey Id="PTF_REG_FOR_VS_REFERENCE_NET_40"
                     ForceCreateOnInstall="yes"
                     Root="HKLM"
                     Key="SOFTWARE\Microsoft\.NETFramework\v4.0.30319\AssemblyFoldersEx\ProtocolTestFramework">
          <RegistryValue Value="[Bin_DIR]" Type="string"/>
        </RegistryKey>
      </Component>

      <!-- ReportingTool -->
      <Component Id="ReportingTool.exe" Guid="746DF2EC-8430-4D31-95A3-DAF1FA9C993D" Feature="PTF_All">
        <File Id="ReportingTool.exe"
              Source="$(var.SRCDIR)\reportingtool\ReportingTool.exe" />
      </Component>
      <Component Id="ReportingTool.pdb" Guid="89F72D63-E3D8-4980-86D1-CC35E499E7B3" Feature="PTF_All">
        <File Id="ReportingTool.pdb"
              Source="$(var.SRCDIR)\reportingtool\ReportingTool.pdb" />
      </Component>

      <!-- Config -->
      <Component Id="site.ptfconfig" Guid="B4416400-8541-4E96-A62C-5AECBDF14045" Feature="PTF_All">
        <File Id="site.ptfconfig"
              Source="$(var.PTF_SRC_ROOT)\testtools\config\site.ptfconfig" />
      </Component>
      <Component Id="TestConfig.xsd" Guid="3F2E7994-7EA4-4843-B07A-5A6BA421360D" Feature="PTF_All">
        <File Id="TestConfig.xsd"
              Source="$(var.PTF_SRC_ROOT)\testtools\config\TestConfig.xsd" />
      </Component>
    
    <!-- ETW Manifest -->
      <Component Id="TestSuiteProvider.man" Guid="0D1C33F2-F997-44AF-BCE0-77782A187CD8" Feature="PTF_All">
        <File Id="TestSuiteProvider.man" Source="$(var.PTF_SRC_ROOT)\TestTools.ExtendedLogging\TestSuiteProvider.man" >
      <util:EventManifest MessageFile="[#Microsoft.Protocols.TestTools.ExtendedLogging.dll_VS10]" ResourceFile="[#Microsoft.Protocols.TestTools.ExtendedLogging.dll_VS10]"></util:EventManifest>
    </File>
      </Component>
    </DirectoryRef>

    <DirectoryRef Id="Bin_DIR">

      <!-- Microsoft.Protocols.TestTools -->
      <Component Id="Microsoft.Protocols.TestTools.dll_VS10" Guid="3F75FE1F-9951-4666-BF77-C4BF46E49692" Feature="PTF_All">
        <File Id="Microsoft.Protocols.TestTools.dll_VS10"
              Source="$(var.SRCDIR_VS10)\Microsoft.Protocols.TestTools.dll" />
      </Component>
      <Component Id="Microsoft.Protocols.TestTools.pdb_VS10" Guid="9141B891-0F7C-4E8E-B0D5-1B97204B9AD0" Feature="PTF_All">
        <File Id="Microsoft.Protocols.TestTools.pdb_VS10"
              Source="$(var.SRCDIR_VS10)\Microsoft.Protocols.TestTools.pdb" />
      </Component>
      <Component Id="Microsoft.Protocols.TestTools.xml_VS10" Guid="39BBC2DC-A820-493F-A3DB-B5A1362C2ADE" Feature="PTF_All">
        <File Id="Microsoft.Protocols.TestTools.xml_VS10"
              Source="$(var.SRCDIR_VS10)\xmldocs\Microsoft.Protocols.TestTools.xml" />
      </Component>

      <!-- Microsoft.Protocols.TestTools.Extension -->
      <Component Id="Microsoft.Protocols.TestTools.Extension.dll_VS10" Guid="47A67D84-7CE2-4923-ABCA-7914D9B3547C" Feature="PTF_All">
        <File Id="Microsoft.Protocols.TestTools.Extension.dll_VS10"
              Source="$(var.SRCDIR_VS10)\Microsoft.Protocols.TestTools.Extension.dll" />
      </Component>
      <Component Id="Microsoft.Protocols.TestTools.Extension.pdb_VS10" Guid="358DAD50-C664-4FF0-818C-8D3DA67F3220" Feature="PTF_All">
        <File Id="Microsoft.Protocols.TestTools.Extension.pdb_VS10"
              Source="$(var.SRCDIR_VS10)\Microsoft.Protocols.TestTools.Extension.pdb" />
      </Component>
      <Component Id="Microsoft.Protocols.TestTools.Extension.xml_VS10" Guid="AF1700CF-4848-478E-A34B-6B05CE3F11C7" Feature="PTF_All">
        <File Id="Microsoft.Protocols.TestTools.Extension.xml_VS10"
              Source="$(var.SRCDIR_VS10)\xmldocs\Microsoft.Protocols.TestTools.Extension.xml" />
      </Component>

      <!-- Microsoft.Protocols.TestTools.Messages.Runtime -->
      <Component Id="Microsoft.Protocols.TestTools.Messages.Runtime.dll_VS10" Guid="2692D1E3-C990-4835-B475-58F6F96CDC3C" Feature="PTF_All">
        <File Id="Microsoft.Protocols.TestTools.Messages.Runtime.dll_VS10"
              Source="$(var.SRCDIR_VS10)\Microsoft.Protocols.TestTools.Messages.Runtime.dll" />
      </Component>
      <Component Id="Microsoft.Protocols.TestTools.Messages.Runtime.pdb_VS10" Guid="23BE7343-4826-4C81-81B0-A6C457DE0D3C" Feature="PTF_All">
        <File Id="Microsoft.Protocols.TestTools.Messages.Runtime.pdb_VS10"
              Source="$(var.SRCDIR_VS10)\Microsoft.Protocols.TestTools.Messages.Runtime.pdb" />
      </Component>
      <Component Id="Microsoft.Protocols.TestTools.Messages.Runtime.xml_VS10" Guid="EDF11E41-442B-4903-BD01-0A97CDD0B5F5" Feature="PTF_All">
        <File Id="Microsoft.Protocols.TestTools.Messages.Runtime.xml_VS10"
              Source="$(var.SRCDIR_VS10)\xmldocs\Microsoft.Protocols.TestTools.Messages.Runtime.xml" />
      </Component>

      <!-- Microsoft.Protocols.TestTools.VSTS -->
      <Component Id="Microsoft.Protocols.TestTools.VSTS.dll_VS10" Guid="30FD728A-C75C-463C-8C1C-EDBA807451DE" Feature="PTF_All">
        <File Id="Microsoft.Protocols.TestTools.VSTS.dll_VS10"
              Source="$(var.SRCDIR_VS10)\Microsoft.Protocols.TestTools.VSTS.dll" />
      </Component>
      <Component Id="Microsoft.Protocols.TestTools.VSTS.pdb_VS10" Guid="EFE4FDC7-9BA9-46BA-AC55-C3D842CEFBFF" Feature="PTF_All">
        <File Id="Microsoft.Protocols.TestTools.VSTS.pdb_VS10"
              Source="$(var.SRCDIR_VS10)\Microsoft.Protocols.TestTools.VSTS.pdb" />
      </Component>
      <Component Id="Microsoft.Protocols.TestTools.VSTS.xml_VS10" Guid="D16B9E89-6340-4453-B9DA-9EBEF538DAD6" Feature="PTF_All">
        <File Id="Microsoft.Protocols.TestTools.VSTS.xml_VS10"
              Source="$(var.SRCDIR_VS10)\xmldocs\Microsoft.Protocols.TestTools.VSTS.xml" />
      </Component>

     <!-- Microsoft.Protocols.TestTools.ExtendedLogging -->
      <Component Id="Microsoft.Protocols.TestTools.ExtendedLogging.dll_VS10" Guid="7385F618-DCC8-4341-9ACF-4BE715B86F78" Feature="PTF_All">
        <File Id="Microsoft.Protocols.TestTools.ExtendedLogging.dll_VS10"
              Source="$(var.SRCDIR_VS10)\Microsoft.Protocols.TestTools.ExtendedLogging.dll" />
      </Component>
      <Component Id="Microsoft.Protocols.TestTools.ExtendedLogging.pdb_VS10" Guid="3099B4A4-2940-40AF-B800-B516C792A4D5" Feature="PTF_All">
        <File Id="Microsoft.Protocols.TestTools.ExtendedLogging.pdb_VS10"
              Source="$(var.SRCDIR_VS10)\Microsoft.Protocols.TestTools.ExtendedLogging.pdb" />
      </Component>
      <Component Id="Microsoft.Protocols.TestTools.ExtendedLogging.xml_VS10" Guid="7BF280B0-C7A9-4D42-AFE5-FE4511A9DA34" Feature="PTF_All">
        <File Id="Microsoft.Protocols.TestTools.ExtendedLogging.xml_VS10"
              Source="$(var.SRCDIR_VS10)\xmldocs\Microsoft.Protocols.TestTools.ExtendedLogging.xml" />
      </Component>
    </DirectoryRef>

    <!-- PTF GAC -->

    <DirectoryRef Id="PTF_GAC_VS10">
      <Component Id="GAC_Microsoft.Protocols.TestTools.dll_VS10" Guid="656C7CF2-4781-4855-B45E-5C8251FFF2D3" Feature="PTF_All">
        <File Id="GAC_Microsoft.Protocols.TestTools.dll_VS10"
              Source="$(var.SRCDIR_VS10)\Microsoft.Protocols.TestTools.dll"
              KeyPath="yes"
              Assembly=".net" />
      </Component>
      <Component Id="GAC_Microsoft.Protocols.TestTools.VSTS.dll_VS10" Guid="5D870B35-8003-494C-87E2-F95B15D88B0E" Feature="PTF_All">
        <File Id="GAC_Microsoft.Protocols.TestTools.VSTS.dll_VS10"
              Source="$(var.SRCDIR_VS10)\Microsoft.Protocols.TestTools.VSTS.dll"
              KeyPath="yes"
              Assembly=".net" />
      </Component>
      <Component Id="GAC_Microsoft.Protocols.TestTools.Extension.dll_VS10" Guid="C58B0F42-4CCD-46A4-892B-D367938D70EC" Feature="PTF_All">
        <File Id="GAC_Microsoft.Protocols.TestTools.Extension.dll_VS10"
              Source="$(var.SRCDIR_VS10)\Microsoft.Protocols.TestTools.Extension.dll"
              KeyPath="yes"
              Assembly=".net" />
      </Component>
      <Component Id="GAC_Microsoft.Protocols.TestTools.Messages.Runtime.dll_VS10" Guid="1DC260A1-0907-4367-BFA0-6A7A5C255D7E" Feature="PTF_All">
        <File Id="GAC_Microsoft.Protocols.TestTools.Messages.Runtime.dll_VS10"
              Source="$(var.SRCDIR_VS10)\Microsoft.Protocols.TestTools.Messages.Runtime.dll"
              KeyPath="yes"
              Assembly=".net" />
      </Component>
      <Component Id="GAC_Microsoft.Protocols.TestTools.ExtendedLogging.dll_VS10" Guid="538D5842-F65A-47BA-818F-71F8C611D019" Feature="PTF_All">
        <File Id="GAC_Microsoft.Protocols.TestTools.ExtendedLogging.dll_VS10"
              Source="$(var.SRCDIR_VS10)\Microsoft.Protocols.TestTools.ExtendedLogging.dll"
              KeyPath="yes"
              Assembly=".net" />
      </Component>

    </DirectoryRef>

    <!-- PTF Docs -->
    <DirectoryRef Id="DOCS_DIR">
      <!-- PTF User Guide -->
      <Component Id="PTF_User_Guide" Guid="B3F7E4AF-8751-4FEC-83C0-239918499DA3" Feature="PTF_All">
        <File Id="PTFUserGuide.docx" Source="$(var.PTF_SRC_ROOT)..\docs\PTFUserGuide.md" />
      </Component>
    </DirectoryRef>

    <!-- PTF License -->
    <DirectoryRef Id="ROOT_DIR">
      <!-- PTF License -->
      <Component Id="PTF_LICENSE" Guid="9AB77E77-A595-4CF0-935F-2F967886FC9B" Feature="PTF_All">
        <File Id="LICENSE.txt" Source="$(var.PTF_SRC_ROOT)..\LICENSE.txt" />
      </Component>
    </DirectoryRef>
	
    <!-- PTF Shortcut -->
    <DirectoryRef Id="PTF_ProgramsMenuFolder">
     <!-- for PTF User Guide -->
      <Component Id="PTF_User_Guide_Shortcut" Guid="E360B475-A8F0-4FA6-96A1-A410DA9BAF73" Feature="PTF_All">
        <Shortcut Id="PTF_User_Guide_Shortcut"
                  Name="PTF User Guide"
                  Target="[DOCS_DIR]PTFUserGuide.docx" />

        <RemoveFolder Id="PTF_User_Guide_Shortcut" On="uninstall" />
        <RegistryValue Id="PTF_User_Guide_Shortcut"
                       Root="HKCU"
                       Key="Software\Microsoft\ProtocolTestFramework"
                       Name="userguide_installed"
                       Type="integer"
                       Value="1"
                       KeyPath="yes"/>
      </Component>
    </DirectoryRef>
  
    <!-- ptf testconfig schema for VS 2012 -->
    <DirectoryRef Id="VS2012_SCHEMAS_DIR">
      <Component Id="VS2012_TestConfig.xsd" Guid="{008B5502-CB06-4F42-9D52-B4600094C61F}" Feature="PTF_All">
        <File Id="VS2012_TestConfig.xsd" Vital="yes"
              Source="$(var.PTF_SRC_ROOT)\testtools\config\TestConfig.xsd" />
        <Condition>VS2012_ROOT_FOLDER</Condition>
      </Component>
    </DirectoryRef>
  
    <DirectoryRef Id="VS2013_SCHEMAS_DIR">
      <Component Id="VS2013_TestConfig.xsd" Guid="{B5ED2B8E-9BBA-42D0-A590-9ABA8E928B98}" Feature="PTF_All">
        <File Id="VS2013_TestConfig.xsd" Vital="yes"
              Source="$(var.PTF_SRC_ROOT)\testtools\config\TestConfig.xsd" />
        <Condition>VS2013_ROOT_FOLDER</Condition>
      </Component>
    </DirectoryRef>
	
    <DirectoryRef Id="VS2015_SCHEMAS_DIR">
      <Component Id="VS2015_TestConfig.xsd" Guid="{623E6855-5569-428D-9AC4-FCDFEFC5CA86}" Feature="PTF_All">
        <File Id="VS2015_TestConfig.xsd" Vital="yes"
              Source="$(var.PTF_SRC_ROOT)\testtools\config\TestConfig.xsd" />
        <Condition>VS2015_ROOT_FOLDER</Condition>
      </Component>
    </DirectoryRef>	
	
    <Feature Id="PTF_All"
         Title="Protocol Test Framework"
         Description="Protocol Test Framework"
         Level="1"
         Display="hidden" />

  </Fragment>

</Wix>
